*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(lib.png);
}
.main{
    width: 100vw;
    height: 100vh;
    gap: 0.2rem;    
}
button{
    background-color: rgba(237, 236, 236, 0.559);
    border: 0px solid transparent;
    margin: 200px;
    width: 100px;
    position: absolute;
    left: 550px;
    padding: 15px;
    top: 350px;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 80px;
}
button:hover{
    transform: scale(1.1);
    background-color: rgba(249, 86, 41, 0.559);
    color: rgba(237, 233, 232, 0.559);
}
input::placeholder{
    color: rgb(212, 212, 212);
}
.inp{
    padding: 18px;
    border-radius: 10px;
    background-color: rgba(249, 86, 41, 0.559);
    border: 0px solid transparent;
    margin: 200px;
    width: 500px;
    position: absolute;
    left: 300px;
    color: rgb(212, 212, 212);
}

#input-1{
    top: 50px;
}
#input-2{
    top: 150px;
}
#input-3{
    top: 250px;
}