*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(lib.png);
}
.main{
    width: 100vw;
    height: 100vh;
    gap: 0.2rem;    
}
#searchbar{
    margin: 30px;
    margin-top: 300px;
}
button{
     width:100px ;
    border-radius: 10px;
    position: absolute;
    left:970px;
    padding: 18px;
    font-weight: 50px;
    font-size: 15px;
    border: 1px solid transparent;
    background-color: burlywood;
}
button:hover{
    transform:scale(1.07);
    background-color: rgba(251, 249, 249, 0.705);
    
}
h1{
  text-align: center;
  font-size: 5rem;
  margin-top: 20px;
  color: white;
}
#entry{
    width: 500px;
    position: absolute;
    left: 530px;
    padding: 18px;
    border-radius: 10px;
    background-color: rgba(249, 86, 41, 0.559);
    border: 0px solid transparent;
}
